@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
canvas{
    position: absolute;
    top: 0;
    left: 0;
}

p{
    margin: 0 0;
    position: absolute;
    font: 16px 'Comic Neue';
    color: #eee;
    height: 25px;
    top: calc(100vh - 30px);
    text-shadow: 0 0 2px white;
}

p a{
    text-decoration: none;
    color: #aaa;
}

span{
    font-size: 11px;
}

p > a:first-of-type{
    font-size: 20px;
}

body{
    overflow: hidden;
}


.imagem{
    position:fixed;
    justify-content: center;
    display: flex;
    align-items:flex-end;
    z-index: 2;
    bottom: 5%;
    right: 43%;
    border-radius: 20px;
    width: 100px;
    max-width: 15%;
    transform: translateX(50%);
}

@media (max-width: 768px) {
    .imagem {
        bottom: 5%;
        width: 80px; /* Reduz largura em telas menores */
    }
}
